

@font-face {
    font-family: "MedodicaRegular";
    src: url(Content/Fonts/MedodicaRegular.otf);
}

.Page {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    font-family: "MedodicaRegular", sans-serif;
}
.TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #d2d3d5;
}
.Right {
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
}
.Left {
    display: flex;
    align-items: center;
}
.flag-image {
    width: 4em;
    height: 4em;
    cursor: pointer;
    margin-right: 10px;
    image-rendering: pixelated;
    opacity: 1;
    transition: opacity 0.2s ease;
}
    .flag-image:hover {
        opacity: 0.7;
    }
.Logo {
    width: 90px;
    height: 90px;
    aspect-ratio: 1/1;
}

.Profile {
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #d2d3d5;
    border-bottom: 1px solid #d2d3d5;
}

@media (max-width: 500px) {
    .Profile {
        width: 100%;
    }
}
.ProfilePicture {
    aspect-ratio: 1/1;
    width: 100%;
}

h1.HeaderScaler {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

p {
    font-size: 20px;
}