.Page {
    margin-top: 0px;
}
.TopBar{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    border-bottom: 1px solid #edf2fa;
}
.Right {
display: flex;
align-items: flex-end;
}
.Left {
display: flex;
align-items: flex-start;
}
.flag-image { 
    width: 54px;
    height: 54px;
    cursor: pointer;
    margin-right: 10px;
    image-rendering: pixelated;
    opacity: 1;
    transition: opacity 0.2s ease;
}
    .flag-image:hover {
        opacity: 0.7;
    }
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}
